.swiper {
  width: 99%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
}

.swiper-slide a {
  color: #000;
  font-size: 1.8rem;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  background-color: #000;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}
